@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    box-sizing: border-box;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: mediumblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.time-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.time-container .value {
    font-family: monospace;
    font-size: 3em;
}

/*.time-container .unit {
    
}*/
.button {
    color: blue;
    background-color:white;
    width: 50px;
    margin: 10px 0;
    padding: 5px 10px;
    border: solid blue 1px;
    border-radius: 5px;
    align-items: center;
}
.one {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
