body {
    font-family: Arial, sans-serif;
    padding: 0 10%;
    background-color: #eaeaea;
}

.bar-chart {
  display: flex;
  background-color: #eee;
  width: 600px;
  height: 30px;
  align-items: stretch;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
}
